.cardContainer {
	margin-top: 2rem;
}

.containerHeader {
	padding: 10px 20px;
}

.containerBody2 {
	text-align: center;
}

.card {
	border: none;
}

.button {
	border-radius: 10px;
	font-size: 15px;
	margin-right: 20px;
}

.button:active,
.button:focus {
	box-shadow: none;
}

.profileInput {
	display: inline;
	height: 30px;
	padding-left: 15px;
	padding-bottom: 20px;
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgb(202, 202, 202);
	height: 1.5rem;
}

.profileInput:active,
.profileInput:focus {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid blue;
	box-shadow: none;
}

@media only screen and (max-width: 650px) {
	.button {
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}
}

/* .profileInput {
	width: 13rem;
	display: inline;
	height: 30px;
	padding-left: 15px;
	background-color: rgb(240, 240, 240);
	border-radius: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	height: 1.5rem;
}

.profileInput:active,
.profileInput:focus {
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: rgb(240, 240, 240);
	border-bottom: 2px solid blue;
	box-shadow: none;
}

.label {
	font-weight: 500;
	margin-bottom: 10px;
}

.pwLabel {
	margin-bottom: 16px;
}

.container {
	margin-top: 2rem;
	padding: 2rem;
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(223, 223, 223);
	border-radius: 1rem;
}

.leftContainer {
	text-align: end;
}

.button {
	margin-right: 10px;
	border-radius: 10px;
	font-size: 15px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	.profileInput {
		width: 189px;
	}

	.button {
		display: inline-block;
		width: 189px;
	}
} */
