.globe {
	height: 6%;
	margin-right: 10px;
	vertical-align: middle;
	vertical-align: middle;
	width: 6%;
}

.langBox {
	flex-direction: row;
	margin-bottom: 10px;
}

.langTag {
	color: black;
	font-size: 15px;
	text-decoration: none;
	vertical-align: middle;
}

.langTag:hover {
	color: grey;
	text-decoration: underline;
}
