.brandLogo {
	margin-left: 20px;
	width: 10rem;
}

.header {
	display: inline;
}

.bottom > * {
	vertical-align: bottom;
}

.text {
	display: inline;
	margin-left: 20px;
	font-size: 16px;
}

.link {
	text-decoration: none;
}

.card {
	border-radius: 10px;
}

.card:hover {
	-webkit-box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 600px) {
	.brandLogo {
		margin-top: 20px;
	}
}
